name: Android CI Practice

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant permission
        run: chmod +x gradlew

      - name: Clean
        run: ./gradlew clean

      - name: Build Debug
        run: ./gradlew assembleDebug

      - name: Run Tests
        run: ./gradlew test
